* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 10px;
    font-family: robotoMedium;
}

/*=============== GENERELL =================*/

@font-face {
    font-family: robotoBold;
    src: url("../fonts/Roboto-Bold.ttf");
}

@font-face {
    font-family: robotoMedium;
    src: url("../fonts/Roboto-Medium.ttf");
}

@font-face {
    font-family: robotoRegular;
    src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: robotoLight;
    src: url("../fonts/Roboto-Light.ttf");
}


/*=============== HEADER =================*/
/* !CLASSES */

.logo1 {
    display: flex;
    width: 4rem;
}

.logo1a {
    width: 2rem;
}


.floatG {
    display: flex;
    justify-content: flex-end;
}

.floatB {
    width: 15rem;
    margin-top: -2.3rem;
}

.headline1 {
    font-family: robotoBold;
    font-size: 1.5rem;
    padding-left: 0.5rem;
}

.headlineT {
    padding-left: 0.5rem;
}

.redText {
    color: red;
    font-size: 0.8rem;
    padding-top: 2rem;
}

.examplePic1 {
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

/* !STYLES */

header section {
    width: 25%;
}

/*=============== MAIN =================*/

.mainText {
    padding-top: 1.5rem;
    padding-left: 0.5rem;
    padding-right: 1rem;
    font-family: robotoLight;
    line-height: 1.5rem;
}

.mainText-C {
    padding-top: 1.5rem;
    padding-left: 0.5rem;
    padding-right: 1rem;
    font-family: robotoLight;
    line-height: 1.5rem;
    text-align: center;
}

.miniHeadline {
    font-family: robotoMedium;
    padding-left: 3.5rem;

}

.miniHeadline2 {
    font-family: robotoMedium;
    padding-left: 0.5rem;

}

.pT {
    padding-top: 2rem;
    padding-bottom: 4rem;
}

.logoSize {
    width: 8%;
    margin-bottom: -2rem;
}

.picTextBlock {
    display: flex;
    flex-direction: row;
}

.numHeadline {
    font-size: 3rem;
    color: rgb(179, 179, 179);
}

.pic {
    width: 100%;
}

.picL {
    justify-content: flex-start;
}


.picR {
    justify-content: flex-end;
}

.textL {
    justify-content: flex-start;
}

.textR {
    justify-content: flex-end;
}

/*=============== FOOTER =================*/

.fHeadline {
    font-family: robotoBold;
    font-size: 1.5rem;
    padding-left: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
}

.fText {
    text-align: center;
    font-size: ;
    font-family: robotoLight;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.mail {
    text-align: center;
    width: 60%;
    border-style: none;
    box-shadow: rgba(128, 128, 128, 0.162) 0.5px 0.5px 5px;
}

.sub {
    width: 30%;
    background-color: #ff3571;
    color: #ffffff;
    border-style: none;
    margin-top: 1rem;
}

.createdBy {
    text-align: center;
    padding-top: 3rem;
}

/* ! STYLES */

footer form {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* !================== DESKTOP ==========================! */

@media only screen and (min-width: 1200px) {


    /*=============== HEADER =================*/
    /* !CLASSES */

    .logo1 {
        display: flex;
        width: 10rem;
        margin-top: 1rem;
    }

    .logo1a {
        width: 4.5rem;
        padding-left: 2rem;
        margin-right: 1rem;
    }

    .logoHeadline {
        font-size: 1.5rem;
        font-family: robotoBold;
    }


    .floatG {
        display: flex;
        justify-content: flex-end;
    }

    .floatB {
        width: 65%;
        margin-top: -4rem;
    }


    .headlineDesk {
        padding-left: 2rem;
        margin-top: -33rem;
    }

    .headline1 {
        font-family: robotoBold;
        font-size: 4.5rem;
        padding-left: 5rem;

    }

    .headline1a {
        margin-bottom: 2rem
    }

    .headlineT {
        padding-left: 5rem;
        font-size: 1.8rem;
        font-family: robotoLight;
    }

    .redText {
        color: red;
        font-size: 1.2rem;
        padding-top: 10rem;
        padding-left: 5rem;
    }

    .examplePic1 {
        width: 100%;
        padding-top: 20rem;
        padding-bottom: 20rem;
    }

    /* !STYLES */

    header section {
        width: 25%;
    }

    /*=============== MAIN =================*/


    .headline1b {
        margin-right: 40rem;
        margin-left: 7rem;
    }

    .title-text-block {
        display: flex;
        flex-direction: row;
    }


    .mainText {
        text-align: left;
        width: 35%;
        font-family: robotoLight;
        line-height: 2.5rem;
        font-size: 1.5rem;
    }

    .mainText-C {
        padding-top: 5rem;
        padding-left: 0.5rem;
        padding-right: 1rem;
        margin-left: 20rem;
        font-family: robotoLight;
        font-size: 2rem;
        line-height: 2.5rem;
        text-align: center;
        width: 60%;
    }


    .idea4 {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        padding-left: 20rem;
    }

    .idea4width {
        width: 50%;
        height: 4%;
        padding-top: 6rem;
        padding-bottom: 6rem;
        justify-content: space-around;
    }

    .idea4text {
        width: 60%;
    }

    .miniHeadline {
        font-family: robotoBold;
        font-size: 1.5rem;
        padding-left: 1rem;
        padding-right: 4rem;


    }

    .miniHeadline2 {
        font-family: robotoMedium;
        padding-left: 0.5rem;
        padding-top: 2.0rem;
        font-size: 3rem;

    }

    .pT {
        padding-top: 2rem;
        padding-bottom: 4rem;
        margin-top: 10rem;
        margin-left: 7rem;
    }

    .logoSize {
        width: 5%;
        margin-bottom: -2.5rem;
        margin-left: -3.5rem;
    }

    .picTextBlock {
        display: flex;
        flex-direction: row;
    }

    .numHeadline {
        font-size: 6rem;
        color: rgb(179, 179, 179);
    }

    .pic {
        width: 100%;
    }

    .picL {
        justify-content: flex-start;
        width: 40%;
        padding-left: 10rem;
    }

    .pic-align-R {
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        padding-top: 20rem;
    }

    .picR {
        margin-right: 6rem;
        width: 35%;
    }



    .textL {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-top: -38rem;
        margin-left: 20rem;
    }

    .textR {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin-left: 25rem;
        margin-right: -50rem;
    }

    .picText {
        display: flex;
        flex-direction: row;
        margin-top: 10rem;
    }


    .headline1-align-C {
        text-align: center;
        padding-right: 12rem;
    }

    /*=============== FOOTER =================*/

    .fHeadline {
        font-family: robotoBold;
        font-size: 5.5rem;
        padding-left: 0.5rem;
        padding-top: 10rem;
        padding-bottom: 1rem;
        text-align: center;
    }

    .fText {
        text-align: center;
        font-size: 2rem;
        font-family: robotoLight;
        padding-top: 4rem;
        padding-bottom: 4rem;
    }

    .mail {
        text-align: center;
        width: 45%;
        height: 6rem;
        font-size: 2rem;
        border-style: none;
        box-shadow: rgba(128, 128, 128, 0.162) 1px 1px 15px;
    }

    .sub {
        width: 15%;
        height: 5rem;
        margin-top: 2.5rem;
        font-size: 1.5rem;
        background-color: #ff3571;
        color: #ffffff;
        border-style: none;
    }

    .createdBy {
        text-align: left;
        font-family: robotoLight;
        font-size: 1.5rem;
        padding-top: 10rem;
        padding-left: 12rem;
        padding-bottom: 2rem;
    }

    /* ! STYLES */

    footer form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }



}